/*Gerneral Styling*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  /*Phone Page Styling*/

  body{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    display: grid;
    place-items: center;
  }

  .container{
    display: flex;
    flex-direction: column;
    min-height: 400px;
    
  }
  .main-result{
   width: 100%;
    padding: 2rem;
    text-align: center;
    background-image: linear-gradient(180deg,hsl(252, 100%, 67%),
     hsl(241, 81%, 54%));
    display: grid;
    gap: 1.5rem;
    place-items: center;
    border-radius: 0 0 30px 30px ;
    padding: 2rem 2rem;
  }
  .bold-font{
    font-weight: 700;
  }
  .main-result .title{
    color:  hsl(241, 100%, 89%);
  }
  .main-result .final-result{
    text-align: center;
    border-radius: 50%;
    min-width: 150px;
    min-height: 150px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0));
    display: grid;
    place-items: center;
    gap: 0rem;
   font-size: 4rem;
   font-weight: 800;
   color: #fff;
   padding: 0.5rem;
  }
  
  .main-result .final-result .small-text {
    font-size: 1rem;
    color: hsl(241, 100%, 89%);
    font-weight: 500;
  }
  .more-info .heading{
    color: #fff;
    margin-bottom: 5px;
  }
  .more-info p{
    color: hsl(241, 100%, 89%);
  }
  .result-summary{
    display: grid;
    padding: 1rem 1.9rem;
  }
  .result-summary .summary{
    margin-bottom: 1.2rem;
  }
  .result-details{
    display: grid;
    gap: 1rem;
  }
  .flex-box{
    display: flex;
    padding: 0.8rem 1rem;
    max-width: 500px;
    gap: 6rem;
    justify-content: space-between;
    border-radius: 5px;
  }
  .flex-box div{
    display: flex;
    gap: 0.4rem;
  }
  .flex-box .grades{
    color: black;
  }
  .flex-box .grades span{
    color:  hsl(224, 30%, 27%);
    opacity: 55%;
  }
  .reaction{
    color: hsl(0, 100%, 67%);
    background-color:  hsl(0, 100%, 67%,10%);
  }
  .memory{
    color: hsl(39, 100%, 56%);
    background-color: hsl(39, 100%, 56%,10%);
  }
  .verbal{
    color:hsl(166, 100%, 37%);
    background-color:  hsl(166, 100%, 37%,10%);
  }
  .visual{
    color: hsl(234, 85%, 45%) ;
    background-color:  hsl(234, 85%, 45%,10%);
  }
  .result-summary button{
    cursor: pointer;
    margin-top: 20px;
    max-width: 500px;
    padding: 0.8rem 3rem;
    border-radius: 25px;
    border: none;
    background-color: hsl(224, 30%, 27%);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition:  0.4s ease-in-out;
  }
  .result-summary button:hover{
    /* "ERROR" COLOR DOSN'T CHANGE*/
    background-color:  linear-gradient(hsl(252, 100%, 67%),
    hsl(241, 81%, 54%));
    transform: scale(1.1);
  }

  @media (min-width:700px) {
    .container{
        flex-direction: row;
        margin-top: 50px;
        max-width:650px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 25px;
    }
    .main-result{
        margin:none;
        max-width: 300px;
        border-radius: 25px;
  }
}